.App {
  text-align: center;
  /*background-image: repeating-linear-gradient(black,rgb(10, 244, 178),black);*/
  background:
      linear-gradient(300deg,rgb(11, 244, 174),rgb(0, 0, 0)),
      linear-gradient(200deg, rgba(0, 255, 145, 0.97), rgba(0, 0, 0, 0) 70.71%),
      linear-gradient(300deg, rgba(0, 0, 0, 0.999), rgba(0, 0, 0, 0) 70.71%),
      linear-gradient(200deg, rgba(0, 255, 145, 0.8), rgb(0, 0, 0) 70.71%);
      
  min-height:100vh;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column ;
}
.FirtsContained{
  min-height: 90vh;
  height: 90%;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.878);

  border-radius: 4px;
  box-shadow: black 50px;
}
.Link{
  text-decoration: none;
  color: aliceblue;
}